In [159]:
import os
import warnings

# Variables

In [160]:
a=8
b="abhi"
c=9.0

In [161]:
list=[a,b,c]
for i in list:
    print(type(i))

<class 'int'>
<class 'str'>
<class 'float'>

# Boolean

In [162]:
a=10
b=5
c=a>b
c

True

In [163]:
#Adding two numbers
# input() taken input as a string and has to be converted into integer (typecast) if required
a=int(input("Enter a number: "))
b=int(input("Enter a second number: "))
print("Sum of the two numbers is : ",a+b)

Enter a number: 12
Enter a second number: 23
Sum of the two numbers is :  35

In [164]:
# Find the remainder when dividing
a=10
b=6
print("remainder is",a%b)

remainder is 4

In [165]:
# Comparison Operator will result into boolean
a=90
b=101
a>b

False

In [166]:
# Find average of two numbers
a=int(input("Enter a number: "))
b=int(input("Enter a second number: "))
c=(a+b)/2
print("average of two numbers is : ", c)

Enter a number: 23
Enter a second number: 12
average of two numbers is :  17.5

In [167]:
# Square of a number aftre user input
a=int(input("Enter a number: "))
c=a*a
print("Square of two numbers is : ", c)

Enter a number: 567
Square of two numbers is :  321489

# Chapter 3 - Strings

In [168]:
a=34
b="harry"

In [169]:
print(a,b)

34 harry

In [170]:
print(type(a),type(b))

<class 'int'> <class 'str'>

In [171]:
a='harry'
b="harry"
c='''harry'''
print(type(b))
print(type(b))
print(type(c))

<class 'str'>
<class 'str'>
<class 'str'>

In [172]:
#why we use single quotes, double quotes and triple quotes strings
# Difference between the three quotes
a='harry"s'
b="harry's"
c='''"harry"s and harry's"'''
d='''"harry"s and 
potter's"'''
print(type(b))
print(type(b))
print(type(c))
print(a)

<class 'str'>
<class 'str'>
<class 'str'>
harry"s

In [173]:
print(b)

harry's

In [174]:
print(c)

"harry"s and harry's"

In [175]:
print(d)

"harry"s and
potter's"


# String Slicing

In [176]:
name="Abhishek"
greeting="Good Morning "
c=greeting + name
print(c)

Good Morning Abhishek

In [177]:
#Behind the scene for strings it store in an array starting with index 0
print(c[0])
print(c[4])
print(c[5])
print(c[-1])

G

M
k

In [178]:
# 'str' object does not support item assignment
# c[0]="Z" will not work

# Slicing

In [179]:
# last index is excluded and first index is included
name[0:3]

'Abh'

In [180]:
name[1:4]

'bhi'

In [181]:
# printing entire string
name[0:]

'Abhishek'

In [182]:
# finding length of a string
print(len(name))
print(len(greeting))

8
13

In [183]:
# why we use negative index
# we use to count from last part of the string and if the string is really long nstead of 
# counting from starting we can count from the end
name[-1]

'k'

In [184]:
name[-8:]

'Abhishek'

In [185]:
# Including -8 and excluding -1 index
name[-8:-1]

'Abhishe'

# Slicing with skip value

In [186]:

name= "ABHISHEK"
name[0:9]

'ABHISHEK'

In [187]:
name[:9]

'ABHISHEK'

In [188]:
name[0:]

'ABHISHEK'

In [189]:
# 3 argument is the skip value i.e . skip every 2 and print
name[0:9:2]

'AHSE'

In [190]:
name[0::2]

'AHSE'

# String functions

In [191]:
story="once upon a time there was a boy named abhishek"
story

'once upon a time there was a boy named abhishek'

In [192]:
# String Functions
print(len(story))

47

In [193]:
print(story.endswith("abhishek"))

True

In [194]:
print(story.endswith("raturi"))

False

In [195]:
print(story.count("a"))

5

In [196]:
print(story.count("abhishek"))

1

In [197]:
print(story.count("abhi"))

1

In [198]:
# First letter will be capitalized
print(story.capitalize())

Once upon a time there was a boy named abhishek

In [199]:
print(story.find("abhi"))

39

In [200]:
print(story.find("Abhi"))

-1

In [201]:
# Finds only the first occurence and returns its ondex
print(story.find("once"))

0

In [202]:
# Replaces all the occurences
print(story.replace("abhishek","harry"))

once upon a time there was a boy named harry

# Escape sequence characters

In [203]:
story="Harry styles. He is a singer"
print(story)

Harry styles. He is a singer

In [204]:
story="Harry styles. \n He \t is a singer"
print(story)

Harry styles.
 He 	 is a singer

In [205]:
story="Harry styles. He is a \\singer"
print(story)

Harry styles. He is a \singer

# Practise set with Strings

In [206]:
# Problem 1
user=input("Enter your name : ")
print("Good Morning, ",user)
print("Good Morning, "+user)

Enter your name : abhishek
Good Morning,  abhishek
Good Morning, abhishek

In [207]:
# Problem 2 - Letter template
letter='''Dear <|Name|>,
You are selected!

Date: <|Date|>
'''
name=input("Enter your name \n: ")
date=input("Enter date :\n ")
letter.replace("<|Name|>",name)
letter.replace("<|Date|>",date)

Enter your name
: abhishek
Enter date :
 2 nov 2021

'Dear <|Name|>,\nYou are selected!\n\nDate: 2 nov 2021\n'

In [208]:
# it did not change because it does not replaces in the actual string
print(letter)

Dear <|Name|>,
You are selected!

Date: <|Date|>

In [209]:
# you have to use letter=letter.replace
# Problem 2 - Letter template
letter='''Dear <|Name|>,
You are selected!

Date: <|Date|>
'''
name=input("Enter your name \n: ")
date=input("Enter date :\n ")
letter=letter.replace("<|Name|>",name)
letter=letter.replace("<|Date|>",date)
print("\n\n\n")
print(letter)

Enter your name
: abhishek
Enter date :
 2 Nov 2021




Dear abhishek,
You are selected!

Date: 2 Nov 2021

In [210]:
#Problem 3 - Detect double spaces in a string
str="This is a string with double  spaces"
c=str.find("  ")
if c==-1:
    print("Double spaces not present")
else:
    print("Double spaces are present at index : ",c)

Double spaces are present at index :  28

In [211]:
#Problem 4 - Replace double spaces in the above string with single spaces
str="This is a string with double  spaces"
print(str)
str=str.replace("  "," ")
print(str)

This is a string with double  spaces
This is a string with double spaces

In [212]:
#Problem 5 - To format the below string using escape sequence characters
letter1="Dear Harry, This python course is nice.Thanks!"
letter2="Dear Harry,\n\nThis python course is nice.\n\nThanks!"
print(letter1)
print("\n\n\n")
print(letter2)

Dear Harry, This python course is nice.Thanks!




Dear Harry,

This python course is nice.

Thanks!

# Chapter 4 - List and Tuples

# List

In [213]:
#Lists
# List stores list of values of any data types
a=[1,2,3,4,57,6]
print(a)

[1, 2, 3, 4, 57, 6]

In [214]:
a[4]

57

In [215]:
a[0]=98

In [216]:
print(a)

[98, 2, 3, 4, 57, 6]

In [217]:
a=[1,"harry",9.8]
print(a)

[1, 'harry', 9.8]

# List Slicing

In [218]:
print(a[0:])

[1, 'harry', 9.8]

In [219]:
print(a[0:2])

[1, 'harry']

In [220]:
print(a[-3:])

[1, 'harry', 9.8]

# List Methods

In [221]:
l1= [1,5,23,7,8,3,5,0,6]

In [222]:
li_sorted=l1.sort()  # will not work
print(li_sorted)

None

In [223]:
l1.sort()
print(l1)

[0, 1, 3, 5, 5, 6, 7, 8, 23]

In [224]:
#append list - adds at the end of the list

l1.append(7)
print(l1)

[0, 1, 3, 5, 5, 6, 7, 8, 23, 7]

In [225]:
# list insert - insert at index
l1.insert(0,100) # insert 100 at 0 th index
print(l1)

[100, 0, 1, 3, 5, 5, 6, 7, 8, 23, 7]

In [226]:
# pop 
l1.pop(2) # removes element from 2 nd index
print(l1)

[100, 0, 3, 5, 5, 6, 7, 8, 23, 7]

In [227]:
#remove 
l1.remove(100) # remove the element
print(l1)

[0, 3, 5, 5, 6, 7, 8, 23, 7]

In [228]:
#reverse
l1.reverse() # reverse the list
print(l1)

[7, 23, 8, 7, 6, 5, 5, 3, 0]

# Tuples

In [229]:
t=(1,7,3,8)
print(t[3])

8

In [230]:
# Cannot update tuples, is immutable
# mutation means to change
# Once tuple is defined, we cannot change it
# t[0]=34 # will not work

In [231]:
a=() # empty tiple
b=(1) # wrong way to create a tuple with single element
c=(1,) # tuple with one element needs a comma, not needed when using jupyter but will be needed when using idle
d=(5,3,9,9) # tuple with multiple element
print(a)
print(b)
print(c)
print(d)

()
1
(1,)
(5, 3, 9, 9)

# Tuples Method

In [232]:
t1=(1,5,1,8,1,9,1,10,53,1)
t1.count(1) # count the occurence of element 1 in the tuple

5

In [233]:
t1.index(1) # returns the index of the element in the tuple, the first occurence

0

# Lists and Tuples - Practise

In [234]:
# Q1 - store 3 fruits in a list entered by user
fruits=[]
for i in range(3):
    a=input("Enter fruit name : ")
    fruits.append(a)
print(fruits)

Enter fruit name : mango
Enter fruit name : banana
Enter fruit name : apple
['mango', 'banana', 'apple']

In [235]:
# Q2 - Display marks of 5 students in a sorted manner
marks=[]
for i in range(5):
    a=int(input("Enter marks for student: "))
    marks.append(a)
    
marks.sort()
print("Marks sorted are : ",marks)

Enter marks for student: 12
Enter marks for student: 67
Enter marks for student: 45
Enter marks for student: 56
Enter marks for student: 65
Marks sorted are :  [12, 45, 56, 65, 67]

In [236]:
#Q3 - add a list of 4 numbers
a=[4,7,10,9]
sum=0
for i in range(4):
    sum=sum + a[i]
print("sum is : ",sum)

sum is :  30

In [237]:
# Q3 - find the number of zeros in the tuple
z=(7,0,8,0,0,9)
count=0
r=len(z)
for i in range(r):
    if z[i]==0:
        count=count+1
print("number of zeros in the tuple are : ",count)

number of zeros in the tuple are :  3

In [238]:
# Q3 - find the number of zeros in the tuple using function
z=(7,0,8,0,0,9)
print(z.count(0))

3

# Chapter 5 - Dictionary and Sets

In [239]:
#Dictionary - collection of key value pairs

myDict={"Harry":"Styles",
        "abhi":"raturi",
        "ishan":"khan",
        "kate":"winslet",
        "marks":[34,45,76],
        "anotherDict":{"marks1":[45,87,90]},
        "a":(1,5,2)
       }
print(myDict)

{'Harry': 'Styles', 'abhi': 'raturi', 'ishan': 'khan', 'kate': 'winslet', 'marks': [34, 45, 76], 'anotherDict': {'marks1': [45, 87, 90]}, 'a': (1, 5, 2)}

In [240]:
# printing corresponding value
print(myDict['abhi'])
print(myDict['marks'])
print(myDict['anotherDict'])
print(myDict['anotherDict']['marks1'])
print(myDict['a'])

raturi
[34, 45, 76]
{'marks1': [45, 87, 90]}
[45, 87, 90]
(1, 5, 2)

# Properties of Dictionaries

In [241]:
# unordered
# mutable
# indexed
# cannot contain duplicate keys

# Dictionary Methods

In [242]:
myDict={"Harry":"Styles",
        "abhi":"raturi",
        "ishan":"khan",
        "kate":"winslet",
        "marks":[34,45,76],
        "anotherDict":{"marks1":[45,87,90]},
        "a":(1,5,2)
       }

In [243]:
myDict.keys() # prints all the keys in the dicitinary

dict_keys(['Harry', 'abhi', 'ishan', 'kate', 'marks', 'anotherDict', 'a'])

In [244]:
myDict.values() # prints all the values in the dicitinary

dict_values(['Styles', 'raturi', 'khan', 'winslet', [34, 45, 76], {'marks1': [45, 87, 90]}, (1, 5, 2)])

In [245]:
myDict.items() # prints all the contents in the dicitinary

dict_items([('Harry', 'Styles'), ('abhi', 'raturi'), ('ishan', 'khan'), ('kate', 'winslet'), ('marks', [34, 45, 76]), ('anotherDict', {'marks1': [45, 87, 90]}), ('a', (1, 5, 2))])

In [246]:
updateDict={"Lovish":"Friend"
}
myDict.update(updateDict)  # updates the dictionary with the key value pair at last
myDict

{'Harry': 'Styles',
 'abhi': 'raturi',
 'ishan': 'khan',
 'kate': 'winslet',
 'marks': [34, 45, 76],
 'anotherDict': {'marks1': [45, 87, 90]},
 'a': (1, 5, 2),
 'Lovish': 'Friend'}

In [247]:
updateDict={"Harry":"Potter"
}
myDict.update(updateDict)  # updates the dictionary with the layest value of "Harry" as 
                           #we can only have a unique key and therefore only one value corresponng to that key
myDict

{'Harry': 'Potter',
 'abhi': 'raturi',
 'ishan': 'khan',
 'kate': 'winslet',
 'marks': [34, 45, 76],
 'anotherDict': {'marks1': [45, 87, 90]},
 'a': (1, 5, 2),
 'Lovish': 'Friend'}

In [248]:
# Why we use get method instead of myDict["Harry"]

#print(myDict["Harry2"])  # will throw error because key is not present
myDict.get("Harry2")  # will not throw error even when key is not present and therefore it is recommended to use get method

# Sets

In [249]:
# Sets does not contain repetitive items
# Set is a collection of unique elements (no repetition of items)
a={1,6,3,6}
print(a)
print(type(a))

{1, 3, 6}
<class 'set'>

In [250]:
b={}  # this will create empty dictionary and not an empty set
print(type(b))

<class 'dict'>

In [251]:
# creating empty set 
c=set()
print(type(c))

<class 'set'>

# methods in sets

In [252]:
c=set()

In [253]:
c.add(4) # adding elements to set
c.add(5)
c.add(8)
print(c)

{8, 4, 5}

In [254]:
# creating a set
s={1,5,5,9}
print(s)

{1, 5, 9}

In [255]:
#cannot add list inside a set
#c.add([5,6]) # will not work,cannot add list inside a set
c.add((10,12)) # you can add a tuple inside a set
print(c)
#c.add({"h":"wer"}) # will not work,cannot add dictionary inside a set

{8, 4, 5, (10, 12)}

In [256]:
print(len(c)) # returns length of set

4

In [257]:
c.remove(5) # removes the element 5 from the set
print(c)

{8, 4, (10, 12)}

In [258]:
c.pop() # removes a random value from the set
print(c)

{4, (10, 12)}

In [259]:
d=set()
d.add(4)
d.add(10)
d.add(5)
d.add(9)
print(d)
d.union() # union of set

{9, 10, 4, 5}

{4, 5, 9, 10}

In [260]:
d.clear() # removes all the  elements of the set
print(d)

set()

# Properties of Sets

In [261]:
# Sets are unoredered i.e. cannot say return first or third selement and so on
# sets are indexed i.e. cannot access the elements using index
# cannot change items in a set
# cannot contain duplicate values

# Sets - Practice Problems

In [262]:
# Q1 - crate a dictionary and when user search for a word he/she will get the meaning of th word
dict={
      "dabba":"box",
      "pankha":"fan",
      "vastu":"item"
     }
print("Your options for entering a word are :",dict.keys())
word=input("Enter a hindi word : ")
print("Meaning of hindi word entered is : ",dict.get(word))

Your options for entering a word are : dict_keys(['dabba', 'pankha', 'vastu'])
Enter a hindi word : pankha
Meaning of hindi word entered is :  fan

In [263]:
# Q2 - input 3 numbers from user and display unique numbers 
a=set()
for i in range(3):
    numbers=int(input("Enter number"))
    a.add(numbers)
print("Unique numbers are : ", a)

Enter number23
Enter number34
Enter number54
Unique numbers are :  {34, 54, 23}

In [264]:
# Q3 - find the length of the set
s=set()
s.add(20)
s.add(20.0)
s.add("20")
print(len(s))

2

In [265]:
# Q4 - What is the type of set?
s={}  # its a dcitionary
print(type(s))

<class 'dict'>

In [266]:
# Q5 - create a dictionary for favourite languages
favLang={}
a=input("enter your favourite language Shubham : ")
b=input("enter your favourite language Abhi : ")
c=input("enter your favourite language sonali : ")
d=input("enter your favourite language anil : ")
favLang['Shubham']=a
favLang['Abhi']=b
favLang['sonali']=c
favLang['anil']=d
print(favLang)

enter your favourite language Shubham : java
enter your favourite language Abhi : c++
enter your favourite language sonali : python
enter your favourite language anil : python
{'Shubham': 'java', 'Abhi': 'c++', 'sonali': 'python', 'anil': 'python'}

# Chapter 6 - Conditional Expression

In [267]:
a=3
if a>15:
    print("a is greater than 15")
elif a>17:
    print("a is greater than 17")
else:
    print("a is less than or equal to 3")

a is less than or equal to 3

In [268]:
# Important points

# can have any number of elif
# last else executes when all the elif conditions fail
# else is optional

# If else elif - practice Problems

In [270]:
# Q1 - enter 4 numbers from a user and find the greatest

num1=int(input("Enter number 1: "))
num2=int(input("Enter number 2: "))
num3=int(input("Enter number 3: "))
num4=int(input("Enter number 3: "))
if num1>num4:
    f1=num1
else:
    f1=num4
if num2>num3:
    f2=num2
else:
    f2=num3
if f1>f2:
    print("Greatest number is : ",f1)
else:
    print("Greatest number is : ",f2)

Enter number 1: 34
Enter number 2: 567
Enter number 3: 54
Enter number 3: 67
Greatest number is :  567

In [271]:
#Q2 - Enter three subject marks and print pass if total 40 % and 33 % in each subject
sub1=int(input("Enter marks for subject 1 : "))
sub2=int(input("Enter marks for subject 2 : "))
sub3=int(input("Enter marks for subject 3 : "))
if (sub1<33 or sub2<33 or sub3<33):
    print("Student failed")
if (sub1+sub2+sub3)/3 < 40:
    print("You failed because your total percentage is less than 40")
else:
    print("Congrats, you passed")

Enter marks for subject 1 : 34
Enter marks for subject 2 : 43
Enter marks for subject 3 : 45
Congrats, you passed

In [272]:
# Q3 - Write a program to detect a spam conatining the message
text=input("Enter a text : ")
spam=False
if ("make a lot of money" in text):
    spam=True
elif ("buy now" in text):
    spam=True
elif ("watch this" in text):
    spam=True
else:
    spam=False
if (spam):
    print("This text is spam")
else:
    print("This text is not spam")

Enter a text : watch this
This text is spam

In [273]:
# Q4 - Find whether a given username contains less than 10 characters or not

name=input("Enter your name : \n")
if len(name)<10:
    print("Your name has less than 10 characters")
elif len(name)==10:
    print("Your name has 10 characters")
else:
    print("Your name has more than 10 characters")

Enter your name :
abhi
Your name has less than 10 characters

In [274]:
# Q5 - If the name entered is present in a list
names=["abhishek","rahul","sarthak","shipra","shilpi"]
name=input("Enter your name : \n")
if name in names:
    print("Your name is present in the list")
else:
    print("Your name is not present in the list")

Enter your name :
abhishek
Your name is present in the list

In [275]:
# Q6 - Calculate grades accoring to the marks
marks=int(input("Enter marks : \n"))
if marks>90:
    grade="Excellent"
elif marks>=70:
    grade="A"
elif marks>=60:
    grade="B"
elif marks>=50:
    grade="C"
elif marks>=40:
    grade="C"
else:
    grade="F"
print("Your grade is : ", grade)

Enter marks :
44
Your grade is :  C

# Chapter 7 - Loops

# while loop

In [3]:
l=[2,7,45,68,698]
i=0
while i<len(l):
    print(l[i])
    i=i+1

2
7
45
68
698

# for loop

In [2]:
l=[2,7,45,68,698]
for item in l:
    print(item)

2
7
45
68
698

In [9]:
#range function in for loop
for i in range(4):
    print(i)

0
1
2
3

In [10]:
for i in range(1,4):
    print(i)

1
2
3

In [13]:
# step size in range function
for i in range(1,6,2):
    print(i)

1
3
5

In [21]:
# for loop with else
for i in range(5):
    print(i)
else:
    print("This is inside else of for")

0
1
2
3
4
This is inside else of for

In [25]:
# break statement
for i in range(10):
    print(i)
    if i==3:
        break

0
1
2
3

In [26]:
# else will print only when for loop executes fully,in this case it will 
# not as the break statement exits the for and else because else is also part of for loop
for i in range(5):
    print(i)
    if i==3:
        break
else:
    print("This is inside else of for")

0
1
2
3

In [27]:
# continue statement, skips the iteration
for i in range(5):
    if i==3:
        continue
    print(i)

0
1
2
4

In [28]:
# pass statement , it is a null staement and means do nothing
# when you do not know what to do with the condition and want to comeback later to do it you can mention pass
# we cannot leave the statement empty as it will throw error  so we put a pass statement to avoid the error
if i==3:
    pass
while i<2:
    pass
print("Comeback to chack these above condition and work on it later")

Comeback to chack these above condition and work on it later

In [29]:
# pass statement with def
def a():
    pass

# Loops - Practice Problems

In [32]:
#Q1 - mutliplication table of a given number
num=int(input("Enter a number : "))
print("Multiplication table of the entered number is : \n")
for i in range(1,11):
    print(str(num)+ "X" + str(i) + "=" + str(i*num))

Enter a number : 3
Multiplication table of the entered number is :

3X1=3
3X2=6
3X3=9
3X4=12
3X5=15
3X6=18
3X7=21
3X8=24
3X9=27
3X10=30

In [33]:
# using fstring
num=int(input("Enter a number : "))
print("Multiplication table of the entered number is : \n")
for i in range(1,11):
    print(f"{num} X {i}={num*i}")

Enter a number : 5
Multiplication table of the entered number is :

5 X 1=5
5 X 2=10
5 X 3=15
5 X 4=20
5 X 5=25
5 X 6=30
5 X 7=35
5 X 8=40
5 X 9=45
5 X 10=50

In [38]:
# Q2 - From the list of names, print a hello message to only the ones whose name starts with S
names=["Shivam","abhishek","shubham","zayn","cat"]
for i in names:
    if i.startswith("S") or i.startswith("s"):
        print("Hello : ",i)

Hello :  Shivam
Hello :  shubham

In [1]:
# Q3 - Number prime or not
num= int(input("Enter a number : "))
prime=True
for i in range(2,num):
    if num%i==0:
        prime=False
    break
if prime:
    print("Number is prime ")
else:
    print("Number is not prime ")

Enter a number : 4
Number is not prime

In [2]:
# Q4 - sum of first n natural numbers
num=int(input("Enter a number : "))
sum=0
num=num+1
for i in range(1,num):
    sum=sum+i
print(sum)

Enter a number : 4
10

In [2]:
# Q4 - sum of n natural numbers using while loop
num=int(input("Enter a number : "))
sum=0
i=1
while i<=num:
    sum=sum+i
    i=i+1
print(sum)

Enter a number : 4
10

In [7]:
# Q5 - Factorial of a number
num=int(input("Enter a number : "))
fact=1
for i in range(1,num+1):
    fact=fact*i
print(fact)

Enter a number : 0
1

In [8]:
# Q6 - Print pattern
for i in range(4):
    print("*" * (i))

*
**
***

In [11]:
# without using end
print("abhishek")
print("raturi") 

# using end
print("abhishek",end="")
print("raturi",end="")

abhishek
raturi
abhishekraturi