In [1]:
import os
import warnings

# Variables

In [2]:
a=8
b="abhi"
c=9.0

In [8]:
list=[a,b,c]
for i in list:
    print(type(i))

<class 'int'>
<class 'str'>
<class 'float'>

# Boolean

In [1]:
a=10
b=5
c=a>b
c

True

In [10]:
#Adding two numbers
# input() taken input as a string and has to be converted into integer (typecast) if required
a=int(input("Enter a number: "))
b=int(input("Enter a second number: "))
print("Sum of the two numbers is : ",a+b)

Enter a number: 4
Enter a second number: 5
Sum of the two numbers is :  9

In [12]:
# Find the remainder when dividing
a=10
b=6
print("remainder is",a%b)

remainder is 4

In [13]:
# Comparison Operator will result into boolean
a=90
b=101
a>b

False

In [16]:
# Find average of two numbers
a=int(input("Enter a number: "))
b=int(input("Enter a second number: "))
c=(a+b)/2
print("average of two numbers is : ", c)

Enter a number: 100
Enter a second number: 40
average of two numbers is :  70.0

In [17]:
# Square of a number aftre user input
a=int(input("Enter a number: "))
c=a*a
print("Square of two numbers is : ", c)

Enter a number: 4
Square of two numbers is :  16

# Chapter 3 - Strings

In [18]:
a=34
b="harry"

In [19]:
print(a,b)

34 harry

In [21]:
print(type(a),type(b))

<class 'int'> <class 'str'>

In [22]:
a='harry'
b="harry"
c='''harry'''
print(type(b))
print(type(b))
print(type(c))

<class 'str'>
<class 'str'>
<class 'str'>

In [29]:
#why we use single quotes, double quotes and triple quotes strings
# Difference between the three quotes
a='harry"s'
b="harry's"
c='''"harry"s and harry's"'''
d='''"harry"s and 
potter's"'''
print(type(b))
print(type(b))
print(type(c))
print(a)

<class 'str'>
<class 'str'>
<class 'str'>
harry"s

In [30]:
print(b)

harry's

In [31]:
print(c)

"harry"s and harry's"

In [32]:
print(d)

"harry"s and
potter's"


# String Slicing

In [38]:
name="Abhishek"
greeting="Good Morning "
c=greeting + name
print(c)

Good Morning Abhishek

In [41]:
#Behind the scene for strings it store in an array starting with index 0
print(c[0])
print(c[4])
print(c[5])
print(c[-1])

G

M
k

In [44]:
# 'str' object does not support item assignment
# c[0]="Z" will not work

# Slicing

In [47]:
# last index is excluded and first index is included
name[0:3]

'Abh'

In [48]:
name[1:4]

'bhi'

In [57]:
# printing entire string
name[0:]

'Abhishek'

In [50]:
# finding length of a string
print(len(name))
print(len(greeting))

8
13

In [51]:
# why we use negative index
# we use to count from last part of the string and if the string is really long nstead of 
# counting from starting we can count from the end
name[-1]

'k'

In [64]:
name[-8:]

'Abhishek'

In [63]:
# Including -8 and excluding -1 index
name[-8:-1]

'Abhishe'

# Slicing with skip value

In [1]:

name= "ABHISHEK"
name[0:9]

'ABHISHEK'

In [4]:
name[:9]

'ABHISHEK'

In [5]:
name[0:]

'ABHISHEK'

In [2]:
# 3 argument is the skip value i.e . skip every 2 and print
name[0:9:2]

'AHSE'

In [3]:
name[0::2]

'AHSE'

# String functions

In [18]:
story="once upon a time there was a boy named abhishek"
story

'once upon a time there was a boy named abhishek'

In [19]:
# String Functions
print(len(story))

47

In [20]:
print(story.endswith("abhishek"))

True

In [21]:
print(story.endswith("raturi"))

False

In [22]:
print(story.count("a"))

5

In [23]:
print(story.count("abhishek"))

1

In [24]:
print(story.count("abhi"))

1

In [26]:
# First letter will be capitalized
print(story.capitalize())

Once upon a time there was a boy named abhishek

In [28]:
print(story.find("abhi"))

39

In [29]:
print(story.find("Abhi"))

-1

In [32]:
# Finds only the first occurence and returns its ondex
print(story.find("once"))

0

In [33]:
# Replaces all the occurences
print(story.replace("abhishek","harry"))

once upon a time there was a boy named harry

# Escape sequence characters

In [35]:
story="Harry styles. He is a singer"
print(story)

Harry styles. He is a singer

In [36]:
story="Harry styles. \n He \t is a singer"
print(story)

Harry styles.
 He 	 is a singer

In [41]:
story="Harry styles. He is a \\singer"
print(story)

Harry styles. He is a \singer

# Practise set with Strings

In [45]:
# Problem 1
user=input("Enter your name : ")
print("Good Morning, ",user)
print("Good Morning, "+user)

Enter your name : abhishek
Good Morning,  abhishek
Good Morning, abhishek

In [48]:
# Problem 2 - Letter template
letter='''Dear <|Name|>,
You are selected!

Date: <|Date|>
'''
name=input("Enter your name \n: ")
date=input("Enter date :\n ")
letter.replace("<|Name|>",name)
letter.replace("<|Date|>",date)

Enter your name
: abhishek
Enter date :
 12082021

'Dear <|Name|>,\nYou are selected!\n\nDate: 12082021\n'

In [49]:
# it did not change because it does not replaces in the actual string
print(letter)

Dear <|Name|>,
You are selected!

Date: <|Date|>

In [57]:
# you have to use letter=letter.replace
# Problem 2 - Letter template
letter='''Dear <|Name|>,
You are selected!

Date: <|Date|>
'''
name=input("Enter your name \n: ")
date=input("Enter date :\n ")
letter=letter.replace("<|Name|>",name)
letter=letter.replace("<|Date|>",date)
print("\n\n\n")
print(letter)

Enter your name
: abhi
Enter date :
 sdh




Dear abhi,
You are selected!

Date: sdh

In [60]:
#Problem 3 - Detect double spaces in a string
str="This is a string with double  spaces"
c=str.find("  ")
if c==-1:
    print("Double spaces not present")
else:
    print("Double spaces are present at index : ",c)

Double spaces are present at index :  28

In [63]:
#Problem 4 - Replace double spaces in the above string with single spaces
str="This is a string with double  spaces"
print(str)
str=str.replace("  "," ")
print(str)

This is a string with double  spaces
This is a string with double spaces

In [68]:
#Problem 5 - To format the below string using escape sequence characters
letter1="Dear Harry, This python course is nice.Thanks!"
letter2="Dear Harry,\n\nThis python course is nice.\n\nThanks!"
print(letter1)
print("\n\n\n")
print(letter2)

Dear Harry, This python course is nice.Thanks!




Dear Harry,

This python course is nice.

Thanks!

# Chapter 4 - List and Tuples

# List

In [9]:
#Lists
# List stores list of values of any data types
a=[1,2,3,4,57,6]
print(a)

[1, 2, 3, 4, 57, 6]

In [10]:
a[4]

57

In [11]:
a[0]=98

In [12]:
print(a)

[98, 2, 3, 4, 57, 6]

In [13]:
a=[1,"harry",9.8]
print(a)

[1, 'harry', 9.8]

# List Slicing

In [14]:
print(a[0:])

[1, 'harry', 9.8]

In [16]:
print(a[0:2])

[1, 'harry']

In [18]:
print(a[-3:])

[1, 'harry', 9.8]

# List Methods

In [42]:
l1= [1,5,23,7,8,3,5,0,6]

In [43]:
li_sorted=l1.sort()  # will not work
print(li_sorted)

None

In [44]:
l1.sort()
print(l1)

[0, 1, 3, 5, 5, 6, 7, 8, 23]

In [45]:
#append list - adds at the end of the list

l1.append(7)
print(l1)

[0, 1, 3, 5, 5, 6, 7, 8, 23, 7]

In [46]:
# list insert - insert at index
l1.insert(0,100) # insert 100 at 0 th index
print(l1)

[100, 0, 1, 3, 5, 5, 6, 7, 8, 23, 7]

In [47]:
# pop 
l1.pop(2) # removes element from 2 nd index
print(l1)

[100, 0, 3, 5, 5, 6, 7, 8, 23, 7]

In [48]:
#remove 
l1.remove(100) # remove the element
print(l1)

[0, 3, 5, 5, 6, 7, 8, 23, 7]

In [49]:
#reverse
l1.reverse() # reverse the list
print(l1)

[7, 23, 8, 7, 6, 5, 5, 3, 0]

# Tuples

In [51]:
t=(1,7,3,8)
print(t[3])

8

In [53]:
# Cannot update tuples, is immutable
# mutation means to change
# Once tuple is defined, we cannot change it
# t[0]=34 # will not work

In [58]:
a=() # empty tiple
b=(1) # wrong way to create a tuple with single element
c=(1,) # tuple with one element needs a comma, not needed when using jupyter but will be needed when isung idle
d=(5,3,9) # tuple with multiple element
print(a)
print(b)
print(c)
print(d)

()
1
(1,)
(5, 3, 9)

# Tuples Method

In [60]:
t1=(1,5,1,8,1,9,1,10,53,1)
t1.count(1) # count the occurence of element 1 in the tuple

5

In [62]:
t1.index(1) # returns the index of the element in the tuple, the first occurence

0

# Lists and Tuples - Practise

In [65]:
# Q1 - store 3 fruits in a list entered by user
fruits=[]
for i in range(3):
    a=input("Enter fruit name : ")
    fruits.append(a)
print(fruits)

Enter fruit name : apple
Enter fruit name : mango
Enter fruit name : banana
['apple', 'mango', 'banana']

In [70]:
# Q2 - Display marks of 5 students in a sorted manner
marks=[]
for i in range(5):
    a=int(input("Enter marks for student: "))
    marks.append(a)
    
marks.sort()
print("Marks sorted are : ",marks)

Enter marks for student: 45
Enter marks for student: 86
Enter marks for student: 34
Enter marks for student: 68
Enter marks for student: 45
Marks sorted are :  [34, 45, 45, 68, 86]

In [75]:
#Q3 - add a list of 4 numbers
a=[4,7,10,9]
sum=0
for i in range(4):
    sum=sum + a[i]
print("sum is : ",sum)

sum is :  30

In [85]:
# Q3 - find the number of zeros in the tuple
z=(7,0,8,0,0,9)
count=0
r=len(z)
for i in range(r):
    if z[i]==0:
        count=count+1
print("number of zeros in the tuple are : ",count)

number of zeros in the tuple are :  3

In [86]:
# Q3 - find the number of zeros in the tuple using function
z=(7,0,8,0,0,9)
print(z.count(0))

3

# Chapter 5 - Dictionary and Sets

In [99]:
#Dictionary - collection of key value pairs

myDict={"Harry":"Styles",
        "abhi":"raturi",
        "ishan":"khan",
        "kate":"winslet",
        "marks":[34,45,76],
        "anotherDict":{"marks1":[45,87,90]},
        "a":(1,5,2)
       }
print(myDict)

{'Harry': 'Styles', 'abhi': 'raturi', 'ishan': 'khan', 'kate': 'winslet', 'marks': [34, 45, 76], 'anotherDict': {'marks1': [45, 87, 90]}, 'a': (1, 5, 2)}

In [100]:
# printing corresponding value
print(myDict['abhi'])
print(myDict['marks'])
print(myDict['anotherDict'])
print(myDict['anotherDict']['marks1'])
print(myDict['a'])

raturi
[34, 45, 76]
{'marks1': [45, 87, 90]}
[45, 87, 90]
(1, 5, 2)

# Properties of Dictionaries

In [101]:
# unordered
# mutable
# indexed
# cannot contain duplicate keys

# Dictionary Methods

In [ ]:
myDict={"Harry":"Styles",
        "abhi":"raturi",
        "ishan":"khan",
        "kate":"winslet",
        "marks":[34,45,76],
        "anotherDict":{"marks1":[45,87,90]},
        "a":(1,5,2)
       }

In [103]:
myDict.keys() # prints all the keys in the dicitinary

dict_keys(['Harry', 'abhi', 'ishan', 'kate', 'marks', 'anotherDict', 'a'])

In [104]:
myDict.values() # prints all the values in the dicitinary

dict_values(['Styles', 'raturi', 'khan', 'winslet', [34, 45, 76], {'marks1': [45, 87, 90]}, (1, 5, 2)])

In [106]:
myDict.items() # prints all the contents in the dicitinary

dict_items([('Harry', 'Styles'), ('abhi', 'raturi'), ('ishan', 'khan'), ('kate', 'winslet'), ('marks', [34, 45, 76]), ('anotherDict', {'marks1': [45, 87, 90]}), ('a', (1, 5, 2))])

In [109]:
updateDict={"Lovish":"Friend"
}
myDict.update(updateDict)  # updates the dictionary with the key value pair at last
myDict

{'Harry': 'Styles',
 'abhi': 'raturi',
 'ishan': 'khan',
 'kate': 'winslet',
 'marks': [34, 45, 76],
 'anotherDict': {'marks1': [45, 87, 90]},
 'a': (1, 5, 2),
 'Lovish': 'Friend'}